/*Estilos generales*/
:root {
    /*variables: propiedades personalizadas*/
    --white: #ffffff;
    /*--nombre-variable: valor;*/
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.inactive{
    display: none;
}

/* Navbar (general) */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
}
.logo {
    width: 100px;
    
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin-top: 24px;
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}     
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email{
    color: var(--very-light-pink);
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menú en Desktop */

.desktop-menu{
    position: absolute;
    top: 60px;
    right: 60px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
    padding: 20px 20px 0px 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 24px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    font-size: var(--sm);
    margin-bottom: 20px;
    display: inline-block;
}

/*Menú en Mobile*/

.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 60px;
    padding: 24px;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}
.mobile-menu ul:first-child {
    border-bottom: 1px solid var(--very-light-pink);
    margin: 0;
}
.mobile-menu ul:nth-child(3) {
    margin: 100px 0 0 0;
}
.mobile-menu div ul li {
    margin-bottom: 32px;
}
.mobile-menu .email {
    display: inline-block;
    font-size: var(--sm);
    font-weight: 300;
    margin-bottom: 4px;
}
.mobile-menu .sign-out {
    color: var(--hospital-green);
    font-size: var(--sm);
    
}

/* Aside (product detail y carrito) */
.product-detail{
    background-color: var(--white);
    width: 360px;
    padding: 0 24px ;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.title{
    font-size: var(--lg);
    font-weight: bold;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding:  0 24px 0 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.shopping-card{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-card figure{
    margin: 0;
}
.shopping-card figure img{
    width: 70px;
    height: 70px;
    border-radius: 24px;
    object-fit: cover;
}
.shopping-card p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-card p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
} 

/* Product List */

.cards-container {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr); con la funcion repeat es lo mismo que decir 1fr 1fr, los fr se repiten 2 veces*/
    grid-template-columns: repeat(auto-fill, 240px);
    /*auto-fill siginifica que se llenara automaticamente dependiendo de la cantidad que quepa y en la segunda parte ponemos el tamaño de cada card*/
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 24px;
    object-fit: cover;
    /*para que la imagen no quede contraida*/
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;

}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

@media (max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul, .navbar-email, .desktop-menu{
        display: none;
    }
    .product-detail{
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}